body {
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* fontfamily */
/* 글꼴 등록 */
@font-face {
    font-family: 'custom-font-01';
    src: url("../../static/assets/font/NotoSansKR-VariableFont_wght.ttf");
    font-size: normal;
}

body{
    font-family: "custom-font-01";
}


a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.663);
    font-size: 14px;
    padding: 0 10px;

}

.mainlogo {
    display: flex;
    margin: 40px auto;
    margin-top: 0px;
    width: 150px;
    height: 180px;
}

.custom-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 462px;
    margin-bottom: 14px;
    border-color: rgb(238, 234, 234);
}

.custom-input:hover {
    border-color: gray;
}

.cb {
    display: flex;
    justify-content: flex-end;
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    margin-top: 12px;
    width: 462px;
    height: 48px;
    padding: 9px 23px;

}

.box1 {
    border: 1px solid;
    border-radius: 17px;
    padding: 48px 36px;
    border-color: rgb(238, 234, 234);
}

.btn1 {
    background-color: #29c3ff;
    color: white;
    border-radius: 5px;
}

.btn1:hover {
    background-color: #0c7dff;
}

.btn2 {
    background-color: #fee500;
    color: black;
    border-radius: 5px;
}

.btn2:hover {
    background-color: #d1bc03;
}

.btn3 {
    background-color: #00d337;
    color: white;
    border-radius: 5px;
}

.btn3:hover {
    background-color: #01a12c;
}

.hypertext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hypertext a:not(:last-child) {
    border-right: 1px solid lightgray;
    padding-right: 15px;
}

.naver {
    filter: brightness(0) invert(1);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
}

.kakao {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 18px;
}

.logos {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    border-radius: 50%;
    gap: 10px;
}

.img-social {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.img-social:hover {
    filter: brightness(0.8);
}

.btn-social {
    border: none;
    background-color: white;
    border-radius: 50%;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: none;
    z-index: 1000; 
   }
@media (max-width: 1000px) {
    .header {
        display: flex;
    }
}
.header-icon{
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease;
}