.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* fontfamily */
/* 글꼴 등록 */
@font-face {
    font-family: 'custom-font-01';
    src: url("../../static/assets/font/NotoSansKR-VariableFont_wght.ttf");
    font-size: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "custom-font-01";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* 슬라이드 */
.slide-block {
    max-width: 1800px;

    background-color: #29c3ff1A;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.slide-block input {
    display: none;
    margin: 0;
}

.slide-block .slide-wrap {
    max-width: 503px;
    margin: 0 auto;
    position: relative;


}

.slide-block .slide-list {
    white-space: nowrap;
    height: 300px;
    font-size: 0px;
    margin: 60px 0;
    padding: 0;
}

.control {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

}

.slide-block .slide-list>.slideli {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transition: .5s;
    padding: 0 40px;
    margin-top: 0;
    margin-bottom: 15px;
    z-index: 55;


}

.slide-block .slide-list>.slideli>a {
    height: 100%;
    display: block;
    position: relative;
    /* font-size: 3rem; */
    filter: brightness(0.4);
    border-radius: 20px;
    margin-top: 0;

}


.slide-block .slide-list>.slideli>a img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 0;



}

.slide-block .slide-list>.control {
    margin: 0;
}

.slide-block .slide-list>.control label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 3rem;
    padding: 0.1em;
    display: none;
    border-radius: 15px;
    background-color: #00000050;
    pointer-events: auto;

}

.slide-block .slide-list>.slideli>a div {
    width: 100%;
    position: absolute;
    bottom: 10%;
    white-space: wrap;
    color: #f2f2f2;
    margin-top: 0;
}

.slide-block .slide-list>.slideli>a div>.p1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.slide-block .slide-list>.slideli>a div>.p2 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

@media (max-width :1024px) {
    section{
        padding: 0 20px;
    }
    .slide-block .slide-wrap {
        width: 386px;
    }

    .slide-block .slide-list {
        height: 183px;
        margin: 40px 0;
    }

    .slide-block .slide-list>.slideli {
        margin: 0;
    }

    .slide-block .slide-list>.slideli>a div>.p1 {
        font-size: 1.0rem;
    }

    .slide-block .slide-list>.slideli>a div>.p2 {
        font-size: 0.7rem;
    }

    .slide-block .slide-list>.control label {
        font-size: 2rem;
    }

}

@media (max-width :480px) {
    .slide-block .slide-wrap {
        width: 100%;
    }

    .slide-block .slide-list {
        width: 100%;
    }

    .slide-block .slide-list>.slideli {
        margin: 0;
    }

    .slide-block .slide-list>.slideli>a div>.p1 {
        font-size: 1.1rem;
    }

    .slide-block .slide-list>.slideli>a div>.p2 {
        font-size: 0.8rem;
    }

    .slide-block .slide-list>.control label {
        font-size: 2rem;
    }


}






input[type="radio"]#slide-2:checked~.slide-wrap>ul.slide-list>.control>.control-2>label {
    display: block;
}

input[type="radio"]#slide-3:checked~.slide-wrap>ul.slide-list>.control>.control-3>label {
    display: block;
}

input[type="radio"]#slide-4:checked~.slide-wrap>ul.slide-list>.control>.control-4>label {
    display: block;
}

input[type="radio"]#slide-1:checked~.slide-wrap>ul.slide-list>.control>.control-1>label {
    display: block;
}

.slide-block>input[type="radio"]#slide-2:checked~.slide-wrap>ul.slide-list>.slideli {
    transform: translateX(-100%);
}

.slide-block>input[type="radio"]#slide-3:checked~.slide-wrap>ul.slide-list>.slideli {
    transform: translateX(-200%);
}

.slide-block>input[type="radio"]#slide-4:checked~.slide-wrap>ul.slide-list>.slideli {
    transform: translateX(-300%);
}

.slide-block>input[type="radio"]#slide-1:checked~.slide-wrap>ul.slide-list>.slideli {
    transform: translateX(-0%);
}

.slide-block>input[type="radio"]#slide-2:checked~.slide-wrap>ul.slide-list>.slideli:nth-child(2)>a {
    transform: scale(1.2, 1.2);
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);

}

.slide-block>input[type="radio"]#slide-3:checked~.slide-wrap>ul.slide-list>.slideli:nth-child(3)>a {
    transform: scale(1.2, 1.2);
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);
}

.slide-block>input[type="radio"]#slide-4:checked~.slide-wrap>ul.slide-list>.slideli:nth-child(4)>a {
    transform: scale(1.2, 1.2);
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);
}

.slide-block>input[type="radio"]#slide-1:checked~.slide-wrap>ul.slide-list>.slideli:nth-child(1)>a {
    transform: scale(1.2, 1.2);
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);
}



.slide-block .slide-list .left {
    left: 20px;

}


.slide-block .slide-list .right {
    right: 20px;

}



/* content */
.content {
    margin: 90px 0 36px 0;
    text-align: center;
    gap: 27px;
}

.content-1 {
    font-size: 32px;
    font-weight: 600;
}

.content-2 {
    font-size: 26px;
    font-weight: 500;
}


/* category */
.category {
    max-width: 1348px;
    height: 100%;
    align-content: center;
    margin: 0 auto;
    background-color: #29c3ff0d;
    margin-bottom: 70px;
    padding: 10px 0;


}

.category>ul.category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;


}

.category>ul.category-list>li {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    margin: 0;
    flex-grow: 1;
}

.category>ul.category-list>li>a {
    margin: 0;
}

.category>ul.category-list>img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin: 0;
}

.category>ul.category-list>li>p {
    margin: 0;
    font-size: 1rem;
}

/* 카테고리 반응형 */
@media (max-width:700px) {
    .category {
        min-width: 230px;
    }

    .category>ul.category-list>li>p {
        font-size: 0.7rem;
    }
}
.category>ul.category-list {
    flex-wrap: wrap;
    padding: 0 10px;
}

/* project 목록 */

.projectMAIN {
    max-width: 1348px;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.projectMAIN>.project-list {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
    position: relative;
}

.projectMAIN>.project-list>.pl-1 {
    width: 49%;
    height: 100%;
    display: flex;
    gap: 20px;


}

.projectMAIN>.project-list>.pl-2 {
    width: 49%;
    height: 100%;
    display: flex;
    gap: 20px;

}

.projectMAIN>.project-list .project-item {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #29c3ff1A;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;

}

.projectMAIN>.project-list .project-item>a {
    margin: 0;
}

.projectMAIN>.project-list .project-item>a>img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: 0;



}

.projectMAIN>.project-list .project-item>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px 0 10px 10px;
    margin: 0;
}

.projectMAIN>.project-list .project-item>div>.project-content1 {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    color: #00c4c4;
    margin: 0;

}

.projectMAIN>.project-list .project-item>div>.project-content2 {
    font-size: 0.875rem;
    margin: 0;
    color: #212529;
    margin: 0;
}

.projectMAIN>.project-list .project-item>div>.project-content3 {
    font-size: 0.563rem;
    padding-top: 3px;
    border-radius: 6px;
    font-weight: 600;
    color: #868e96;
    margin: 0;

}

.projectMAIN>.project-list .project-item>div>ul {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 0;
}

.projectMAIN>.project-list .project-item>div>ul>.project-content4 {
    background-color: gainsboro;
    font-size: 0.563rem;
    padding: 3px 2px;
    border-radius: 6px;
    font-weight: 600;
    color: #495057;
    margin: 0;

}


/* 프로젝트 반응형*/
@media (max-width:1024px) {
    .projectMAIN>.project-list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: none;
    }

    .projectMAIN>.project-list>.pl-1,
    .projectMAIN>.project-list>.pl-2 {
        width: 80%;
        height: 380px;
    }
}

@media (max-width:790px) {
    .projectMAIN>.project-list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: none;
    }

    .projectMAIN>.project-list>.pl-1,
    .projectMAIN>.project-list>.pl-2 {
        width: 80%;
        height: 380px;
    }
}

@media (max-width:620px) {
    .projectMAIN>.project-list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: none;
    }

    .projectMAIN>.project-list>.pl-1,
    .projectMAIN>.project-list>.pl-2 {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .projectMAIN>.project-list .project-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .projectMAIN>.project-list .project-item>img {
        width: 40%;
    }

    .projectMAIN>.project-list .project-item>div {
        width: 60%;
        display: flex;
        gap: 10px;
        padding-right: 5px;
    }
}