.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* fontfamily */
/* 글꼴 등록 */
@font-face {
    font-family: 'custom-font-01';
    src: url("../../static/assets/font/NotoSansKR-VariableFont_wght.ttf");
    font-size: normal;
}

* {
    margin: 0;
    padding: 0;
    /* margin-top: 10px; */
    box-sizing: border-box;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "custom-font-01";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* content */
.title {
    margin: 90px 0 36px 0;
    text-align: center;
    gap: 27px;
}

.title-1 {
    font-size: 32px;
    font-weight: 600;
}

.title-2 {
    font-size: 26px;
    font-weight: 500;
}

/* 썸네일, 정보 */
.projectinfo{
    max-width: 1348px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    /* flex-wrap: wrap; */

}
.projectinfo>.Sumnale{ 
    width: 100%;  
    height: 100%;
    object-fit: cover;   

}


.projectinfo>.info{
    width: 100%;
    height: 100%;

}
.projectinfo>.info>p{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 15px;
}
.projectinfo>.info>ul{
    border-bottom: 1px solid #B0B0B0;
    
    display: flex;
    height: 76px;
    align-items: center;
}
.projectinfo>.info>ul>li.text1{
    background-color: #F3F3F3;
    border-right: 1px solid #B0B0B030;
    width: 25%;
    height: 100%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.projectinfo>.info>ul>li.text2{
    background-color: #F3F3F3;
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1; 
    font-size: 1rem;
    padding-left: 30px;
}

.projectinfo>.info>ul:nth-child(6){
    border-bottom: 3px solid;

}
.projectinfo>.info>ul:nth-child(2){
    border-top: 3px solid;

}
.projectinfo>.info>a{
    margin-top: 13px;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    display: block;
    width: 187px;
    height: 76px;
    line-height: 76px;
    text-align: center;
    background-color: #29C3FF;
    border: none;
    color: white;
    font-size: 1.25rem;
    word-spacing:20px;
    
}


.Detail_Page{
    max-width: 1348px;
    height: 691px;
    margin: 0 auto;
    margin-top: 70px;
    border: 2px solid #D9D9D9;
    line-height: 691px;
    text-align: center;
    font-size: 1.25rem;
}
.button{
    max-width: 1348px;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 70px;
    display: flex;
    justify-content: right;
}
.button>a{
    margin-top: 13px;
    width: 187px;
    height: 76px;
    background-color: #29C3FF;
    border: none;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    line-height: 76px;
    word-spacing:20px;

}



@media (max-width:1100px){

section{
    padding: 5px;
}

.projectinfo{

    flex-wrap: wrap;

}
.projectinfo>.Sumnale{ 
    display: flex;
justify-content: center;

}


.projectinfo>.info>ul>li.text1{

    font-size: 1.1rem;
    padding-left: 5px;

}
.projectinfo>.info>ul>li.text2{

    font-size: 0.9rem;
    padding-left: 30pxpx;
}
}
