/* fontfamily */
/* 글꼴 등록 */
@font-face {
    font-family: 'custom-font-01';
    src: url("../../static/assets/font/NotoSansKR-VariableFont_wght.ttf");
    font-size: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "custom-font-01";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 40
}

/* section */

body>main>section {

    max-width: 1280px;
    height: 800px;
    margin: auto;

}

body>main>section>.all {

    width: 350px;
    height: 1000px;
    margin-top: 4%;
    margin-left: 7%;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
    position: relative;



}

body>main>section>.all>.mypage>h2 {
    width: 100%;
    font-size: 35px;
    font-weight: 900;

}

body>main>section>.all>.mypage>.job1 {
    border: 1px solid #bcbcbc;
    border-radius: 7px;
    width: 190px;
    height: 40px;

    margin-top: 30%;
    /* margin-left: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px;
    margin-bottom: 10px; */


}

body>main>section>.all>.mypage>.job1>a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 0;



}

body>main>section>.all>.mypage>.job1>a:nth-child(1) {
    background-color: #29c3ff;
    color: white;
    border-radius: 7px 0 0 7px;
    border-right: 1px solid #bcbcbc;


}


body>main>section>.all>.mypage>.profile {
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin-left: 44%; */
    margin: auto;
    margin-top: 20%;



    overflow: hidden;
}

body>main>section>.all>.mypage>.profile>img {
    width: 80%;
}

body>main>section>.all>.mypage>.nik {
    margin-top: 5%;
    font-size: 20px;
    font-weight: 900;
    /* margin-left: 40%; */
}

body>main>section>.all>.mypage>.report {
    border-bottom: 1px solid #bcbcbc;
    width: 190px;
    height: 30px;
    /* margin-left: 20%; */

    cursor: pointer;
}

body>main>section>.all>.list {
    width: 190px;

    margin-top: 70px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    /* margin-left: 20%; */
}

body>main>section>.all>.list>div {
    height: 40px;
    border-bottom: 1px solid #bcbcbc;

    cursor: pointer;
}

body>main>section>.all>.logout {
    margin-top: 1%;
    font-size: 15px;
    /* margin-left: -15%; */
    text-decoration: underline;

    cursor: pointer;
}

body>main>section>.all>.hello {
    width: 170px;
    margin-top: -156%;
    margin-left: 200%;
    font-size: 17px;
    font-weight: 900;
}

body>main>section>.all>.work {
    border: 1px solid #bcbcbc;
    border-radius: 7px;
    width: 500px;
    height: 170px;
    margin-left: 290%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19%;

}

body>main>section>.all>.work>.icons {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19%;
    /* margin-top: 5%; */

}

body>main>section>.all>.work>.icons>img {
    width: 65px;

    cursor: pointer;
}

body>main>section>.all>.work>.word {
    display: flex;
    justify-content: center;
    gap: 18%;
    margin-top: -1%;

    cursor: pointer;

}

@media (max-width: 1080px) {

    body>main>section>.all>.mypage>.pagename {
        display: none;
    }

    body>main>section {
        margin-top: 70px;
    }

    body>main>section>.all {
        /* margin-left: 3%; */
        text-align: center;
        justify-items: center;
        position: relative;
        margin: auto;



    }
    body>main>section>.all>.mypage{

    }

    body>main>section>.all>.mypage>.job1 {
        border: 1px solid #bcbcbc;
        border-radius: 7px;
        width: 190px;
        height: 40px;

        margin-top: 3%;
        /* margin-left: 20%; */
    }

    body>main>section>.all>.mypage>.job1>.job2 body>main>section>.all>.mypage>.profile {
        border: 1px solid;
        width: 15px;
        height: 10px;
        border-radius: 50%;



        overflow: hidden;
    }

    body>main>section>.all>.mypage>.nik {
        /* margin-left: 35%; */

        cursor: pointer;
    }

    body>main>section>.all>.mypage>.nik::after {
        content: ">";
        position: absolute;
        left: 69%;

        cursor: pointer;
    }

    body>main>section>.all>.mypage>.report {
        display: none;
    }

    body>main>section>.all>.list {
        width: 210px;

        text-align: center;
        font-weight: 900;
        font-size: 20px;
        /* margin-left: 20%; */
        margin-top: 200px;
    }

    body>main>section>.all>.list>div {
        height: 45px;
        border-bottom: 1px solid #bcbcbc;


    }

    body>main>section>.all>.hello {
        display: none;
    }

    body>main>section>.all>.work {
        border: 1px solid #bcbcbc;
        border-radius: 7px;
        width: 270px;
        height: 150px;
        margin-left: 0%;
        margin-top: -125%;
        gap: 10%;



    }

    body>main>section>.all>.work>.icons {
        gap: 10%;
    }

    body>main>section>.all>.work>.word {
        gap: 8%;
    }

    body>main>section>.all>.logout {
        margin-top: 1%;
        font-size: 15px;
        /* margin-left: 19%; */


    }

}