.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* fontfamily */
/* 글꼴 등록 */
@font-face {
  font-family: 'custom-font-01';
  src: url("../../static/assets/font/NotoSansKR-VariableFont_wght.ttf");
  font-size: normal;
}

/* header */
/* 네비 세팅 */

.navi {
  max-width: 1280px;

  /* height: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
  gap: 10px;
  z-index: 102;
}

.navi>ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navi ul li {
  /* margin: 0 10px; */
  position: relative;
}

/* 로고 */
.logo {
  display: flex;
  align-items: center;
}

.navi>.leftside {
  gap: 20px;

}

.navi>ul.leftside>li.logo>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi>ul.rightside {
  display: flex;
  gap: 15px;
}


.artshub {
  font-size: 28px;
  margin-left: 10px;
  font-weight: bold;
  display: block;
  margin-top: 0;
}

.img-logo {
  width: 35px;
}

/* 1뎁스 2뎁스 */
.depth1 {
  height: 100%;
  position: relative;
  display: flex;
  /* left: 30px; */
  font-weight: 400;
  gap: 20px;
}

.depth1>li {
  height: 40px;
  padding: 0;
  text-align: center;
  line-height: 40px;

}

.depth1>li>a {
  display: block;
}

.depth2 {
  width: 100%;

  position: relative;
  /* top: 20px;
  left: 0; */
  padding: 0;
  /* margin-top: 5px; */
  z-index: 100;
  /* 텍스트를 한줄로 출력 */
  /* white-space: nowrap; */
  background-color: rgb(255, 255, 255);
  /* display: none; */

  text-align: left;
  max-height: 0;
  overflow: hidden;

}

.depth2>li {
  height: 40px;
  line-height: 40px;
  position: relative;
  /* display: none; */
  /* height: 100%; */
  /* margin: 5px 0; */
  /* display: block; */
  left: 0;
  top: 0;
  border: 1px solid gainsboro;
  border-bottom: none;

  /* transition: 1s; */
}

.depth2>li:last-child {
  border-bottom: 1px solid gainsboro;
}

.depth2>li>a {
  display: block;
  cursor: pointer;
  padding: 0 5px;
}


/* 프로젝트 버튼 */
/* .project {
  background-color: #29c3ff;
  border: none;
  border-radius: 10px;
  align-items: center;
  height: 30px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.project>a {
  display: block;
  margin: 0;
} */


/* 햄버거 메뉴 1100 block */
.navi>a.navbar_menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 45px;
  display: none;
  font-variation-settings:'wght' 400;
}

/* 호버 */
/* 2뎁스 호버 시 드롭다운 효과 */
.navi>.leftside>.depth1>li:hover .depth2 {
  max-height: 100vh;
  transition: 1s;
  display: block;


  /* border: 1px solid gainsboro; */
}


.navi>.leftside>.depth1>li>a:hover {
  color: #29c3ff;
}

.navi>.leftside>.depth1>li>ul.depth2>li>a:hover {
  color: #29c3ff;
}

.navi>.rightside>li>a:hover {
  color: #29c3ff;
}

/* .project:hover {
  background-color: #0c7dff;
}

.project:hover a {
  color: white;
} */

/* 반응형 화면 */
/* 사용할 아이콘 */
.drop-icon {
  display: none;
  font-size: 20px;
  font-weight: bold;
  color: #29c3ff;
  position: fixed;
  right: 60px;
}

.drop-icon:hover {}

/* 1100 이하일때 로그인창 없앰 */
@media(max-width: 1100px) {
  .navi {
      justify-content: center;
      align-items: end;
      margin-top: 15px;
      flex-direction: column;
      gap: 0;
      padding: 0 20px 0 20px;
  }

  .navi>ul.leftside {
      flex-direction: column;
      align-items: end;
      width: 100%;
      gap: 0;

  }

  .navi>ul.leftside>.logo {
      width: 100%;
  }

  .navi>ul.leftside>.depth1 {
      position: absolute;
      top: 100%;
      height: 180%;
      flex-direction: column;
      width: 200px;
      background-color: white;

      font-weight: 400;
      gap: 0;
      border: 1px solid gainsboro;

      display: none;

  }

  .navi>ul.leftside>.depth1>li {
      width: 100%;
      border-bottom: 1px solid gainsboro;

  }

  .navi>ul.leftside>.depth1>li:last-child {
      border-bottom: none;
  }

  .navi>ul.rightside {
      position: absolute;
      top: 280%;
      flex-direction: column;
      background-color: white;

      width: 200px;
      justify-content: center;
      align-items: center;
      gap: 1px;
      border: 1px solid gainsboro;
      border-top: none;
      border-radius: 0 0 10px 10px;
      display: none;

  }

  .navi>ul.rightside>li {
      width: 100%;
      height: 40px;
      line-height: 40px;


      text-align: center;
  }


  .project {
      /* display: none; */
  }

  .depth2 {
      width: 70%;
      position: absolute;
      top: 0;
      left: -70%;
  }

  .leftside li {
      /* width: 150%; */
      font-size: 20px;
  }

  .img-logo {
      width: 60px;
  }

  .artshub {
      font-size: 40px
  }

  .drop-icon {
      display: block;
  }

  .navi>ul.rightside>li.logined{
      width: 100%;
      
  }
  .navi>ul.rightside>li.logined>a {

      display: block; background-color: #0c7dff;
        color: white;
        border-radius: 10px;
        align-items: center;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; cursor: pointer
  }

  /* 햄버거메뉴 */
  .navi>a.navbar_menu {
      display: block;
  }

  /* 햄버거메뉴 클릭시  */
  .navi>ul.leftside>.depth1.active,
  .navi>ul.rightside.active{
      display: block;
  }

}

/* 800 이하일때 메뉴창도 없앰 */
/* @media(max-width: 800px) {
  .navi {
      margin-top: 20px;
  }
  .depth1 {
      display: none;
  }

  .artshub {
      font-size: 55px
  }

  .img-logo {
      width: 80px;
  }

  .drop-icon {
      font-size: 30px;
  }
} */
/* --------------------------------------------------------- */
/* 본문*/
* {
  margin: 0;
  padding: 0;
  /* margin-top: 10px; */
  box-sizing: border-box;
}

body {
  font-family: "custom-font-01";
  /* min-width: 600px; */
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  align-items: center;
  list-style: none;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 400px;
  max-width: 1024px;
  margin: 0 auto;


}

.search-bar input {
  width: 50%;
  padding: 10px;
  border: 1.7px solid #29c3ff;
  border-radius: 20px;
  font-size: 16px;
  color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

}


.category-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.categories {
  display: flex;
  gap: 25px;
}

.category {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(164, 164, 164);
  /*hover 해야힘
    /* font-weight: bold; */
  font-size: .7rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #29c3ff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  padding: 15px;
  cursor: pointer;
}

.section-wrap {
  max-width: 1348px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin: auto;
}

/* .title_1 {
    font-size: 2rem;
    font-weight: bold;
    color: #29c3ff;
    margin-bottom: 10px;
    margin-top: 10px; */
/* } */
.totalview {
  text-decoration-line: underline;
  display: block;
  margin-bottom: 20px;
  color: #939393;
}

/* 왼쪽 컬럼 (전문가 + 추천) */
.left-column {
  flex: 1;
  display: block;
  flex-direction: column;
  gap: 30px;
}

/* ===== 이달의 전문가 섹션 ===== */
.expert-section {
  padding: 20px;
  text-align: center;
}

.expert-section .title_1 {
  font-size: 2rem;
  font-weight: bold;
  color: #29c3ff;
  margin-bottom: 10px;
  margin-top: 10px;
}

.expert-section .totalview {
  text-decoration: underline;
  margin-bottom: 20px;
  display: inline-block;
}

.expert-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.expert-category {
  /* width: 280px; */
  min-width: 215px;
  max-width: 215px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expert-box {
  border: 1.5px solid #29c3ff;
  border-radius: 10px;
  background-color: white;
  padding: 0;
  text-align: center;
  width: 100%;
}

.expert-title {
  /* font-weight: bold; */
  font-size: 1.1rem;
  border-bottom: 1.5px solid #29c3ff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.expert-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

}

.expert-info {
  text-align: left;
}

.bold {
  font-weight: bold;
  font-size: .8rem;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #ccc; */
  margin: 5px;
  background-size: cover;
  background-position: center;
}

.expert-list {
  border-radius: 10px;
  background-color: white;
  font-size: .85rem;
  padding: 15px;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.expert-list ul {
  list-style: none;
  padding: 0;
}

.expert-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .3px solid #ddd;
  padding: 20px 0;
}

/* 반응형: 이달의 전문가 박스 */
@media (max-width: 1024px) {
  .expert-category {
    width: 48%;
  }
}

@media (max-width: 790px) {
  .expert-category {
    width: 58%;
  }
}

/* ===== 취향 맞춤 프로젝트 섹션 ===== */
.recommend-section {
  padding: 20px 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* min-height: 400px; */
  /* background-color: #fff; */
  /* border: 2px solid #29c3ff; */
  /* border-radius: 10px; */
  /* box-shadow: 2px 2px 10px rgba(0,0,0,0.05); */
}

.recommend-section .title_1 {
  font-size: 2rem;
  font-weight: bold;
  color: #29c3ff;
  margin-bottom: 10px;
}

.recommend-subtitle {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #333;
}

.recommend-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;


}

.recommend-item {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-align: left;
  justify-content: center;
  height: 350px;
  min-width: 215px;
  min-height: 450px;
}

.recommend-item img {
  width: 100%;
  height: 70%;
  display: block;
  object-fit: cover;
}

.recommend-content {
  width: 100%;
  padding: 10px;

  /* justify-content: center;
    align-items: center; */
}

.recommend-content .percent {
  font-size: 1.3rem;
  font-weight: bold;
  color: #29c3ff;
  margin-bottom: 5px;
}

.recommend-content .desc {
  font-size: 0.9rem;
  color: #666666;
  line-height: 1.3;
  margin-bottom: 10px;
}

.recommend-content .desc>p {
  font-weight: bold;
}

/* 반응형 */
@media (max-width: 1024px) {
  .recommend-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .recommend-grid {
    grid-template-columns: 1fr;
  }
}

/* ===== 펀딩 실시간 랭킹 섹션 ===== */
.ranking-section {
  width: 300px;
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.ranking-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #29c3ff;
  /* margin-bottom: 10px; */
}

.ranking-list {
  list-style: none;
  padding: 0;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .5px solid #ddd;
  padding: 25px 0;
}

.ranking-item .text-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ranking-item .title {
  font-weight: bold;
  font-size: .9rem;
}

.ranking-item .description {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.ranking-item .funding-info {
  font-size: 13px;
  color: #29c3ff;
}

.ranking-item .ranking-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  /* background-color: #ccc; */
  border-radius: 10px;
  flex-shrink: 0;
  margin-left: 10px;
}

.side-nav {
    position: fixed;
    align-items: center;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 101;
}

.side-nav ul {
    list-style: none;
    height: 40px;
    display: flex;
    transition: .5s;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 0;
    margin: 0;

}

.side-nav ul li {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.side-nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.side-nav ul li:nth-child(1) {
    width: 50px;
    height: 40px;
}

.side-nav ul li:nth-child(2) {
    width: 100px;
    height: 40px;
}

.side-nav ul:hover {
    transform: translateX(-100px);
}

.side-nav>div:nth-child(1) {
    list-style: none;
    width: 150px;
    height: 40px;
    background-color: #29c3ff;
    border-radius: 10px 0 0 0;

}

.side-nav>div>li a {
    color: white;
    text-decoration: none;
}

.side-nav>div>li {
    width: 50px;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-nav ul{
    /* object-fit: cover; */
    overflow: hidden;
}
.side-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.side-nav ul li a:hover {
    color: black;
    font-weight: bold;
}

@media(max-width: 1100px) {
    .side-nav {
        display: flex;
    }
}
/* footer */
.material-symbols-outlined {
  cursor: pointer;
}
/* ------------------푸터 위-------------- */
.footer-top{
  box-sizing: border-box;
  max-width: 1280px;
  left: 0;
  top: 0;
  margin: auto;
  height: 400px;
  height: 42px;
  /* border: 1px solid gainsboro;
  border-left: none;
  border-right: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 16px;
}

hr{
  width: auto;
}

.footer-top ul{
  display: flex;
  gap: 20px;
  font-size: 14px;
}
.footer-top ul li{
  display: flex;
  gap: 5px;
  margin: 0;
}
.footer-top ul:first-child{
  margin: 0;
  align-items: center;
  height: 100%;
  padding: 0;
}
.footer-top ul:first-child li a{
  align-items: center;
}
.footer-top ul:nth-child(2){
  height: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer-top ul:nth-child(2) li{
  margin: 0 12px 0 16px;
}

.footer-contents{
  height: calc(100% - 42px);
  display: flex;
  gap: 100px;
  margin: 0;
  box-sizing: border-box;
  max-width: 1280px;
  left: 0;
  top: 0;
  margin: auto;
  height: 400px;
}

/* -------------- 왼쪽 --------------*/

.footer-contents>.footer-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 80px;
}
.footer-contents>.footer-left ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0;
  margin: 4px;
}
.footer-contents>.footer-left ul:first-child li:nth-child(1){
  font-size: 18px;
  color: #212529;
  font-weight: 600;
}
.footer-contents>.footer-left ul:first-child li:not(:nth-child(1)){
  font-size: 16px;
  color: #495057;
}
.footer-contents>.footer-left ul:first-child li{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-top: 4px;
}
.footer-left>ul:nth-child(1) li{
  height: 27px;
}
.footer-left>ul:nth-child(2) li{
  height: 24px;
  margin-top: 4px;
}
.footer-left>ul:nth-child(2) li:nth-child(1){
  font-size: 14px;
  color: #868e96;
  font-weight: bold;
}
.footer-left>ul:nth-child(2) li:nth-child(2){
  font-size: 14px;
  color: #495057;
}

/* ------------오른쪽------------ */

.footer-contents>.footer-right{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 40px 0 80px;
  font-size: 14px;
}
.footer-contents>.footer-right ul{
  padding: 0;
}
.footer-contents>.footer-right ul>ul{
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-contents>.footer-right>ul>ul>li:not(:last-child):after{
  content: "|";
  margin: 10px;
}
.footer-contents>.footer-right>ul:nth-child(2) li{
  font-size: 14px;
  color: #495057;
  margin-top: 8px;
}
.footer-contents>.footer-right>ul:nth-child(3){
  display: flex;
  gap: 20px;
}
.footer-contents>.footer-right>ul:nth-child(3) a{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.footer-contents>.footer-right>ul:nth-child(3) .material-symbols-outlined{
  font-size: 40px;
  width: 30px;
}
.footer-contents>.footer-right>ul:nth-child(3)>a>img{
  width: 30px;
}
@media(max-width : 1100px){
  footer{
      display: none;
  }
}

/* --------------------------------------------------------------------------------- */
/* 사이드 바 */
.side-nav {
  position: fixed;
  align-items: center;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 101;
}

.side-nav ul {
  list-style: none;
  height: 40px;
  display: flex;
  transition: .5s;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 0;
  margin: 0;

}

.side-nav ul li {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.side-nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.side-nav ul li:nth-child(1) {
  width: 50px;
  height: 40px;
}

.side-nav ul li:nth-child(2) {
  width: 100px;
  height: 40px;
}

.side-nav ul:hover {
  transform: translateX(-100px);
}

.side-nav>div:nth-child(1) {
  list-style: none;
  width: 150px;
  height: 40px;
  background-color: #29c3ff;
  border-radius: 10px 0 0 0;

}

.side-nav>div>li a {
  color: white;
  text-decoration: none;
}

.side-nav>div>li {
  width: 50px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-nav ul{
  /* object-fit: cover; */
  overflow: hidden;
}
.side-nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.side-nav ul li a:hover {
  color: black;
  font-weight: bold;
}

@media(max-width: 1100px) {
  .side-nav {
      display: flex;
  }
}